.wrapper {
}

.breedButton {
  padding: 16px;
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  transition: 256ms all ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
}
@media (max-width: 450px) {
  .breedButton {
    width: 100%;
  }
}

.randomDog {
  width: 100%;
  height: 50px;
  background: #19abff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: 256ms all ease-in-out;
  &:hover {
    cursor: pointer;
    background: #176bff;
  }
  &:focus {
    background: #1158d1;
  }
}

.FAB {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  border: none;
  background: rgba(25, 171, 255, 0.2);
  color: white;
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 256ms all ease-in-out;
  margin-right: 10px;
  opacity: 0;
  &:hover {
    cursor: pointer;
    background: #176bff;
  }
  &:focus {
    background: #1158d1;
  }
}
